.DS_Store

vim/bundle
emacs.d/.cask

.#*
*~
/emacs.d/el-get/el-get/
/emacs.d/el-get
**/#*#
/.org-id-locations
/bookmarks
/emacs.d/eshell/history
/emacs.d/eshell/lastdir
/emacs.d/projectile-bookmarks.eld
vim/.netrwhist
emacs.d/ac-comphist.dat
emacs.d/smex-items
emacs.d/tmp
emacs.d/recentf
emacs.d/auto-save-list
emacs.d/elpa
emacs.d/eshell
